.button {
    font-size: 12px;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    background: $primary;
    color: $white;
    cursor: pointer;
    position: relative;
    overflow: hidden;   
    border: 1px solid transparent;
    z-index: 1;
    
    @include media-up(l) {
        font-size: 22px;
        padding: 20px 40px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        z-index: -1;
        background: $white;
        transition: .2s;
    }

    &:hover {
        border-color: $primary;
        color: $primary;

        &::after {
            left: 10%;
        }
    }
}
